@import "tailwindcss";

/* Global reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Full height layout */
html,
body,
#root,
.app {
  @apply h-full w-full text-sm bg-gray-500 text-gray-900;
}

/* Custom responsive grid row sizes */
@media (min-width: 768px) {
  .custom-grid-rows {
    grid-template-rows: repeat(8, 20vh);
  }
}

@media (min-width: 1280px) {
  .custom-grid-rows {
    grid-template-rows: repeat(8, 7.5vh);
  }
}

@media (min-width: 768px) {
  .custom-grid-rows {
    grid-template-rows: repeat(8, 20vh);
  }
}

@media (min-width: 1280px) {
  .custom-grid-rows {
    grid-template-rows: repeat(8, 7.5vh);
  }
}